input{
    color: $dark-color;
    background-color: $dark-background;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid $dark-border-color;
    box-shadow: 3px 4px 0 $dark-background-secondary;
    height: 30px;
    padding: 0 .5em;
}